 <!-- ======= landing-options Section ======= -->
 <section id="landing-options" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
      
        <auction-filter-section></auction-filter-section>
        
        <!-- <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250" id="category-section"> -->
      
          <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250" id="category-section">
            <div class="col-xl-2 col-md-4 col-4 col-category">
              <div class="icon-box">
                <!-- <i class="ri-store-line"></i> -->
                <i class="ri-home-8-fill"></i>
                <h3><a href="">Residential</a></h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-4 col-category">
              <div class="icon-box">
                <!-- <i class="ri-bar-chart-box-line"></i> -->
                <i class="ri-community-fill"></i>
                <h3><a href="">Commercial</a></h3>
              </div>
            </div>
            <!-- <div class="col-xl-2 col-md-4 col-3 mt-4 mt-md-0 col-category"> -->
            <div class="col-xl-2 col-md-4 col-4 col-category">
                <div class="icon-box">
                <!-- <i class="ri-calendar-todo-line"></i> -->
                <i class="ri-building-3-fill"></i>
                <h3><a href="">Industrial</a></h3>
              </div>
            </div>
            <!-- <div class="col-xl-2 col-md-4 col-3 mt-4 mt-xl-0 col-category"> -->
            <!-- <div class="col-xl-2 col-md-4 col-3 col-category">
              <div class="icon-box">
                <i class="ri-paint-brush-line"></i>
                <h3><a href="">Clients</a></h3>
              </div>
            </div> -->
            <!-- <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
              <div class="icon-box">
                <i class="ri-database-2-line"></i>
                <h3><a href="">Nemos Enimade</a></h3>
              </div>
            </div> -->
          </div>
      
        </div>
      </section><!-- End landing-options -->
      <section id="particles-js"></section>
      